*{
  padding:0;
  margin: 0;
  box-sizing: border-box;
}
html{
  font-family: Arial, Helvetica, sans-serif;
}
#main{

}
#header{
  display: flex;
  height: 46px;
  background-color: #000;
  justify-content: space-between;
  align-items: center
}
#nav{
  display: inline-block;
}
#nav, .subnav{
  list-style-type: none;
}
#nav > li {
  display: inline-block;
}
#nav li{
  position: relative;
}

#nav > li > a{
  color: #fff;
  text-transform: uppercase;
}
#nav li a{  
  text-decoration: none; 
  line-height: 46px; 
  padding: 0 24px;
  display: block;
}
#nav li:hover .subnav{
  display: block;
}
#nav .subnav li:hover a,
#nav > li:hover > a{
  color:black;
  background-color: #ccc;
}    
#nav .subnav{
  display: none;
  position:absolute;
  background-color: #fff;
  box-shadow: 0 0 10px,rgba(0,0, 0, 0.3);
}
#nav .nav-arrow-down{
  font-size: 14px;
}
#header .search-btn{
  color: #fff;
  float: right;
}
#header .search-icon{
 color: #fff;
}
#nav .subnav a{
  color: #000
}
#slider{
  min-height: 500px;
  padding-top: 50%;
  background-color: #333;
}
#content{

}
#footer{

}